:root {
    font-family: 'Rubik', sans-serif; 
    --text-h1: rgb(251, 98, 3);
    --backgrouond-button: rgb(251, 98, 3);
    --background-default-black: rgb(48, 48, 48);
    
}

.body-container {
    background-image: url(../imagens/phisical-corporal-mobile.jpg);
}

div, h1 .title-imc {    
    font-size: 2em;
    color: var(--text-h1);
    text-align: center;
    margin: 150px auto;
    
}
 .title-two {
    margin-top: 10px;
 }
 
 
 .text-secundary {
    margin: auto;    
    max-width: 310px;
    font-size: 1rem;
    color: #fff;
    text-align:  center;
    justify-content: center;
    display: flex;
}

 .text-paragraph {
    margin:  55px auto;
    max-width: 310px;
    font-size: 0.85rem;
    color: #fff;
    text-align:  center;
    justify-content: center;
    display: flex;
}

 .acess-button {
    width: 220px;
    height: 25px;
    border-radius: 15px;
    border: none;
    margin: auto;
    display: flex;
    background-color: var(--backgrouond-button);
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: #fff;    
}

a {
    text-decoration: none;
}

.acess-button:hover {
background-color: black;
color: var(--backgrouond-button);
}

footer {   
    width: 100%; 
    height: 50px;
    top: 842px;
    background-color: var(--backgrouond-button);
    position: fixed;
}

 .lorem {
    display: flex;
    font-size: 14px;
    font-weight:400; 
    margin: 17px 100px; 
    text-align: center;  
    color: #fff;
}

