:root {
    /* All colors */
    --color-primary-background: #E0E0E0;
    --color-secundary-background: #fff;
    --color-botton-cta: #FF0000;
    --color-botton-cta-houver: #95181d;
    --color-ball-selector-slide: #150E45;
    --color-ball-selector-slide-others: #C4C4C4;
    --color-navbar-selector: #4f3faa;
    --color-navbar-noselector: #7C8DB0;
    --color-socialmidia-header: #7C8DB0;
    --color-socialmidia-footer: #4f3faa;

    /* Default fonts */

    font-family: 'Rubik', sans-serif;
    --text-h1: rgb(251, 98, 3);
    --backgrouond-button: rgb(251, 98, 3);
    --background-default-black: rgb(48, 48, 48);
}