body {
    margin: 0;
    padding: 0;
    background-color: var(--color-navbar-noselector);
}

.container {
    max-width: 640px;
    margin: 50px auto;
    height: 350px; 
    background-color: #fff;
    padding: 20px;
    border-radius: 20px;
}

.container h1 {
    text-align: center;
}

form input, form label {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

form button {
    width: 250px;
    height: 30px;
    margin-left: 165px;
    margin-bottom: 50px;
    background-color: var(--color-navbar-selector);
    color: #fff;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}

form :hover {    
    background-color: var(--color-navbar-noselector);
    color: #000;
}

.resultado-positivo, .resultado-inválido  {
    width: 100%;
    height: 25px;
    text-align: left;
    padding: 10px 15px;
    margin-top: 30px;
    background-color: rgb(125, 250, 143);
    color: rgb(21, 170, 34);
}

.resultado-inválido {
    background-color: rgb(245, 149, 149);
    color: rgb(250, 0, 0);
}


